$color-jumbo: #33BF3A;
$gris-clair: #ededf0;
$font-cond: 'Open Sans Condensed', sans-serif;

h2{
	color:white;
	font-family: 'Anton', sans-serif;
	font-size: 55px;
}
.jumbotron{
	padding: 0;
	nav{
		position: absolute;
    	width:100%;
    	z-index:10;
    	max-width:100%;
	}
	.carousel-item{
		img{
			width: 100vw;
			height: 600px;
		}
	}
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.lay{
  	position:absolute;
  	z-index:12;
 	width:100%;
 	text-align:center;
 	span{
 		color:$color-jumbo;
 		font-size: 18px;
 		font-weight: bold;
 	}
 	ul{
 		margin-left: 25px;
 		.search{
 			margin-left: 250px;
 			margin-top: 5px;
 			width: 250px;
 			border-radius: 50%;
 			height: 25px;
 			span{
 				background-color: rgba(255, 255, 255, 0.7);
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
				padding-right: 6px;
				color:white;
 			}
 			input{
 				border-radius: 50px;
 				color:white;
 				background-color:transparent;
 				border: none;
 				background-color: rgba(255, 255, 255, 0.7);
 				::placeholder {
 					color:black;
 				}
 			}

 		}
 	}
 	.overlay { 
	font-family: 'Anton', sans-serif;
	margin-left: 25%;
	color:#fff;
  	position:absolute;
  	z-index:12;
	margin-top: 150px;
 	width:50vw;
 	text-align:center;
 	span{
 		color:$color-jumbo;
 		font-size: 50px;
 		font-weight: normal;
 	}
 	h3{
 		color:white;
 		font-size: 50px;
 	}
 	h4{
 		font-family:'Raleway', sans-serif;
 		font-size: 12px;
 		letter-spacing: 2px;
 
 	}
 	.quote{
 		font-family:'Raleway', sans-serif;
 		font-size: 12px;
 		letter-spacing: 2px;

 	}
 	input{
 		background-color: $color-jumbo;
 		color: white;
 		border: none;
 		border-radius: 2px;
 		font-size: 12px;
 		padding: 5px 10px 5px 10px;
 		text-align: center;
 		margin-left: 43%;
 	}
}

}

.last{
	a{
		background-color:transparent !important;
	}
}
.nav-item{	
	font-family:'Anton', sans-serif;

	#act{
		color: $color-jumbo !important;
		background-color: transparent !important;
	}
	a{
		padding: 5px;
		background-color: $color-jumbo;
		margin-right: 5px;
		color: white!important;
		border-radius: 2px;
	}
}
.opacity{
	width: 101vw;
	height: 101vh;
	background-color: rgba(0,0,0,0.5) !important;
	z-index: 999;
	position:absolute;

}
#border{
	display: flex;
	background-color: $color-jumbo;
	font-size: 15px;
	p{
		padding: 0px 0px 0px 25px;
		margin: 7px 0;
		color: white
	}
	#first{
	background-color:black;
	border:none;
	font-size:15px;
	margin:5px 0 5px 10px;
	padding: 2px 10px;
		&:hover{
			background-color:white;
			color: $color-jumbo;
		}
	}
}

#close {
    position: absolute;
}
input {
	display: block;
	border:none;
	color: #000;
    padding: 10px;
}


// CONNECT
#newPass {display: none;}

#signUp {display: none;}
#signIn, #new-account {font-size: 0.9rem !important;}

#email {display: none;}

input[name="login"], input[name="pass"], #email {
    margin-bottom: 10px !important;
    border: 1px solid #000;
    margin: 0 auto;
    width: 50%;
}

input[type="submit"] {
    width: 25%;
    display: inline-block;
}

a {text-decoration: none;}

label[for="conditions"] {
    display: none;
    width: 50%;
    margin: 15px auto;
    align-items: center;
    input[type="checkbox"] {
        margin-right: 5px;
    }
}

label[for="connect"] {
    display: flex;
    width: 50%;
    margin: 15px auto;
    align-items: center;
    input[type="checkbox"] {
        margin-right: 5px;
    }
}


#forgot {
    color: #000;
    position: absolute;
    top: 56%;
    right: 30%;
    // font-family: $font-cond;
    font-size: 0.7rem;
}

/*-------------------------------*/

.modal-content {
	margin: 0 auto;
	padding: 5% 5%;
}

.modal-content h3 {
    width: 50%;
    color: #000;
	text-align: center;
	font-size: 3.4em;
	font-weight: 300;
	position: relative;
}

.modal-content p {
    color: #000;
    margin: 0;
	text-align: center;
    margin-bottom: 20px;
}

.submit, #new-account, #newPass {
    background-color: $color-jumbo;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	cursor: pointer;
    border: none;
    padding: 10px;
}

#btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}



h3{ 
	span {
    color: $color-jumbo;
    font-family: 'Anton', sans-serif;
	}
}

#deroule{
	box-shadow: 5px 5px 8px #888888;
	a{
		color:$color-jumbo !important;
		background-color: white;

	}
}

.modal-content{
	h3{
		font-family: 'Anton', sans-serif;
		margin-left: 110px;
		span{
			font-size: 18px;
		}
	}
	#btns{
		button{
			border-radius: 2px;
		}
	}
}


// FIN header
/*section{
	.carousel-control-prev{
        width: 10%;
		background-color: black;
	}
	.carousel-control-next{
        width: 10%;
		background-color: black;
	}
	.main{
        width: 100%;
		margin-bottom: 50px;
		img{
			width: 150px !important;
			height: 200px;
			padding: 0;
            margin: 0 5px;
		}
        .carousel-inner {
            .carousel-item {
                width: 80%;
                margin: 0 auto;
            }
        }
	}
	h2{
		color: $color-jumbo;
		margin-left: 23px;
	}
	#tonDiv{
		display:none;
	}
}*/
#films,#series {
    /*border: 1px solid red;*/
    height: 240px;
    display: flex;
    #prev, #prev2 {
        width: 150px;
        height: 240px;
        background-color: $color-jumbo;
        color: #fff;
        border: none;
        cursor: pointer;
    }
     #next, #next2 {
        width: 150px;
        height: 240px;
        background-color: $color-jumbo;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    #sliderFilms, #sliderSeries {
        position: relative;
        /*border: 1px solid yellow;*/
        display: flex;
        justify-content: space-between;
        width: 100vw - (8vw*2);
        height: 240px;
        overflow: hidden;
        ul {
            position: absolute;
            left: 0;
            top:0;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            img {
                width: 155px !important; 
                height: 240px;
            }
        }
    }
}
#description, #description2 {
    display: flex;
    background-color: #000;
    padding: 10px 143px 10px 143px;
    border-top: 3px solid #fff;
    .infos{
        padding: 10px 0 0 20px;
        color: #fff;
    }
}

.h2 {
    border-left: 5px solid $color-jumbo;
    margin: 50px 0 30px 50px;
    padding-left: 20px;
}

/*-----------------*/

#contact {
    margin-top: 50px !important;
    padding: 0;
    
    form {
        display: flex;
        justify-content: space-between;
        
        input[type="submit"] {
            background-color: $color-jumbo;
            width: 150px;
            height: 30px;
            display: block;
            border-radius: 0;
            border: 0;
            color: #fff;
        }
        *:focus {
            outline: none;
        }
        input, textarea {
            border-radius: 5px;
            padding: 3px 6px !important;
            outline: 0;
            border: 1px solid $gris-clair;
        }
        ::-webkit-input-placeholder {
            font-size: 0.8rem;
        }
    }
}

/*------------------Footer---------------------*/
#footer {
    background-color: #050505;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px !important;
    #sub{
		h3{
			text-align: center;
			color: #FF1A3D;
		}
		div{
			display: flex;
			margin-bottom: 50px;
			input{
				width: 500px;
				margin: 0 10px 0 450px;
				align-items: center;
				border-radius: 2px;
			}
			button{
				margin-right: 350px;
				background-color:#FF1A3D;
				border-color: #FF1A3D;
				border-radius: 2px;
			}
		}
	}
	.first{
		h3{
			padding-bottom: 8px;
			font-size: 14px;
			border-bottom: 2px solid #242424;
			color: #D1D1D1;
			letter-spacing: 2px;
		}
		ul{
			list-style-type: none;
			padding: 0;
			color: #8D8D8D
		}
	}
	.second{
		h3{
			padding-bottom: 8px;
			font-size: 14px;
			border-bottom: 2px solid #242424;
			color: #D1D1D1;
			letter-spacing: 2px;

		}
		ul{
			list-style-type: none;
			padding: 0;
			color: #8D8D8D;
		}
	}
	.third{
        padding: 0;
		h3{
			padding-bottom: 8px;
			font-size: 14px;
			border-bottom: 2px solid #242424;
			color: #D1D1D1;
			letter-spacing: 2px			
		}
		.case{
			display: flex;
			p{
				color: #D1D1D1;
				background-color:#242424;
				margin-right: 5px;
				padding: 3px 6px;
				font-size: 10px;
			}
		}
		.case1{
			margin-top: -10px;
			display: flex;
			p{
				color: #D1D1D1;
				background-color:#242424;
				margin-right: 5px;
				padding: 3px 6px;
				font-size: 10px;
			}
		}
	}
	.fourth{
        padding: 0;
        .col-lg-12 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
		h3{
			padding-bottom: 8px;
			font-size: 14px;
			border-bottom: 2px solid #242424;
			color: #D1D1D1;
			letter-spacing: 2px	
		}
		img{
			width: 80px;
			height: 31px;
			padding-bottom: 5px;
			margin-top: 5px;
		}
		.text{
				padding-right: 0;
				margin: 0;
				color: #8D8D8D;
                font-size: 0.8rem;
                font-family: $font-cond;
		}		
	}
	.fifth{
        padding: 0;
		h3{
			margin-top: -17px;
			padding-bottom: 8px;
			border-bottom: 2px solid #242424;
			color: white;
			font-weight: bold;
			span{
				color:#FF1A3D;
			}
		}
		.one{
			img{
				width: 60px;
				height: 80px;
				padding:0;
			}
		}
	}
	.sixth{
		margin-top: 50px;
		height: 50px;
		border-top: 1px solid #242424;
		border-bottom: 1px solid #242424;
	}
	.seventh{
		color: #D1D1D1;
		text-align: center;
		.icon{
			margin-left: 12px;
			i{
				&:nth-child(1){
					padding-right: 10px;

				}
				margin-right: 10px;
				color: #D1D1D1;
				border: 1px solid #D1D1D1;
				padding: 5px;
			}
		}
	}
}

/*-----------------------*/
// MEDIAQUERIES
@media all and (max-width: 1515px) {
    form {padding: 10px;}
    
    input[type="text"], input[type="email"] {
        width: 49%;
    }
    
}
@media all and (max-width: 1275px) {    
    form {padding: 10px;}
    
    input[type="text"], input[type="email"] {
        width: 49%;
    }
}
@media all and (max-width: 1000px) {
    form {padding: 10px;}
    
    input[type="text"], input[type="email"] {
        width: 49%;
    }
}
@media all and (max-width: 665px) {
    input[type="text"], input[type="email"] {
        width: 49%;
    }
}

@media(max-width:475px){
	nav{
		.nav-link{
				background-color: transparent !important;
			}
		.search{
			width: 200px !important;
			margin-left: 50px !important;
			input{
				padding-right: 50px;
			}
		}
		.nav-item a{background-color: transparent !important;}
	}
	.overlay{
		height: auto;
		h3{
			font-size:30px !important;
			width: 300px;
			margin-left: -50px;
			margin-top: -25px;
			span{
				font-size: 30px !important;
			}
		}
		h4{
			font-size: 10px !important;
			width: 200px;
		}
		p{
			font-size: 10px!important;
		}
		input{
			margin-left: 28% !important;
		}
	}	
	section{
		#carouselExampleControls{
		}
	}
    
    form {padding: 10px;}
    
    input[type="text"], input[type="email"] {
        width: 49%;
    }
	
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	nav{
		.nav-link{
				background-color: transparent !important;
			}
		.search{
			width: 200px !important;
			margin-left: 365px !important;
			input{
				padding-right: 50px;
			}
		}
		.nav-item a{background-color: transparent !important;}
	}
}
